/**********************************
*** MESSAGES MESSAGES MESSAGES ****
**********************************/
.successpop{
	background:url(../images/check2.png) #2ecc71 no-repeat center center;
	padding-top:100px;
	background-size:75px 75px;	
	z-index:100000;
	width: 100%;
}
.errorpop{
	background:url(../images/wrong2.png) #e74c3c no-repeat center center;
	padding-top:100px;
	background-size:75px 75px;
	z-index:100000;
	width: 100%;
}
.confirmation{
	background:url(../images/help.png) #3498db no-repeat center center;
	padding-top:100px;
	background-size:75px 75px;
	z-index:100000;
	width: 100%;
}

.uppercase {
	text-transform: uppercase !important;
}

.popups{
	clear:both;
	z-index:100000;
	word-wrap:break-word;
	background-color:#fff;
	width:30%;
	border-radius:3px 3px 0px 0px;	
}
.err{
	border:1px solid #e74c3c;
}
.succ{
	border:1px solid #2ecc71;
}

.ui_title_success{
	margin:2%;
	text-align:center;
	color:#2ecc71;
	font-size:18px;
	font-weight: bold;
}
.ui_title_error{
	margin:2%;
	text-align:center;
	color:#e74c3c;
	font-size:18px;
	font-weight: bold;
}
.ui_title_confirm{
	margin:2%;
	text-align:center;
	color:#3498db;
	font-size:18px;
	font-weight:bold;
}
.message{
	padding:0 2% 2% 2%;
	text-align:center;
	word-wrap:break-word;
	font-weight:bold;
	
}

.closebutton,.closebuttons{
	margin:5px 5px 0 0;
	display:block;
	position:relative;
	width:30px;
	height:30px;
	background:url(../images/close.png) no-repeat;
	float:right;
	cursor:pointer;
}

.hidden{
	position: absolute;
    left: -9999px;
}

.signature{
	background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#school_logo{
	width: 120px;
    height: 120px;
    display: block;
    border: 1px solid #333;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.ui_title_success{
	margin:2%;
	text-align:center;
	color:#2ecc71;
	font-size:18px;
}
.ui_title_error{
	margin:2%;
	text-align:center;
	color:#e74c3c;
	font-size:18px;
}
.ui_title_confirm{
	margin:2%;
	text-align:center;
	color:#3498db;
	font-size:18px;
	font-weight:bold;
}
.message{
	padding:0 2% 2% 2%;
	text-align:center;
	word-wrap:break-word;
	font-weight:bold;
}

#conflicts_table{
	max-height: 200px !important;
	overflow-y: auto;
}

.mid{
	text-align: center !important;
}

.w10{
	width:10px !important;	
}
.w15{
	width:15px !important;	
}
.w20{
	width:20px !important;	
}
.w25{
	width:25px !important;	
}
.w30{
	width:30px !important;	
}
.w35{
	width:35px !important;	
}
.w40{
	width:40px !important;	
}
.w45{
	width:45px !important;	
}
.w50{
	width:50px !important;	
}
.w60{
	width:60px !important;	
}
.w65{
	width:w65 !important;	
}
.w70{
	width:70px !important;	
}

.w75{
	width:75px !important;	
}
.w80{
	width:80px !important;	
}
.w85{
	width:85px !important;	
}
.w100{
	width:100px !important;	
}
.w90{
	width:90px !important;	
}
.w120{
	width:120px !important;	
}
.w150{
	width:150px !important;	
}
.w170{
	width:170px !important;	
}
.w180{
	width:180px !important;	
}
.wt190{
	width:190px !important;	
}
.w190{
	width:193px !important;	
}
.w200{
	width:200px !important;	
}
.w220{
	width:220px !important;	
}
.w250{
	width:250px !important;	
}
.w275{
	width:275px !important;	
}
.w300{
	width:300px !important;	
}
.w350{
	width:350px !important;	
}
.w380{
	width:380px !important;	
}
.w400{
	width:450px !important;	
}
.w450{
	width:450px !important;	
}

.w500{
	width:500px !important;	
}
.w550{
	width:550px !important;	
}
.w600{
	width:600px !important;	
}
.w650{
	width:650px !important;	
}
.w700{
	width:700px !important;	
}
.w850{
	width:850px !important;	
}

.select option:nth-child(odd) {
	background-color:#f2f2f2 !important;
}

.currsubadding{
	height: 300px !important;
}

.currsubadding option{
	padding:5px 0px;
	font-size: 14px !important;
	color: black;
}

.text-black, .table, .table tr:hover{
	color: black !important;
}



@media (max-width: 575.98px) { 
	.h3{
		font-size: 3vw !important;
	}
}

@media (max-width: 767.98px) {  }


@media (max-width: 991.98px) {  }


@media (max-width: 1199.98px) {  }


@media (max-width: 1399.98px) {  }

.ui-dialog { z-index: 10000 !important; }

.legend{
	display:inline-block;
	height:30px;
	min-width: 100%;	
}

.dissolved{
	background-color:rgba(231, 76, 60,.5) !important; 
 }

 .selected{
	 background-color:rgba(52, 152, 219,0.5) !important;	
 }

 .selected:hover{
	 background-color:rgba(52, 152, 219,0.5) !important;	
 }

 .editable{
	background-color:rgba(231, 76, 60,.5) !important;
	word-wrap:break-word;
	font-weight:bold;
 }
 .tutorial{
	background-color:rgba(46, 204, 113,.5) !important; 
 }
 
 .f2f{
	background-color:rgba(230, 126, 34,.5) !important; 
 }

 .tagged{
	background-color:rgba(243, 156, 18,.5) !important; 
 }

 .blued{
	 background-color:rgba(52, 152, 219,0.5) !important;	
 }

 .select2 {
	width: 100%!important;
}

th{
	text-align: center !important;
}

.select2-search--inline {
    display: contents; /*this will make the container disappear, making the child the one who sets the width of the element*/
}

.select2-search__field:placeholder-shown {
    width: 100% !important; /*makes the placeholder to be 100% of the width while there are no options selected*/
}

.well {
    background: none;
    height: 320px;
}

.table-scroll tbody {
    position: absolute;
    overflow-y: scroll;
    height: 250px;
}

.table-scroll tr {
    width: 100%;
    table-layout: fixed;
    display: inline-table;
}

.table-scroll thead > tr > th {
    border: none;
}

.right {
	text-align: right !important;
}

.left {
	text-align: left !important;
}

.tablefees{
	margin:0px 2%;
	font-size: 13px;
	color: black;
	width: 96%;
	border-collapse: collapse;
}
.tablefees td{
	border-collapse: collapse;
}

.red{
	color:red !important;	
}

.text-small{
	font-size: 12px !important;
}

.text-medium{
	font-size: 14px !important;
}

.my-custom-scrollbar {
	position: relative;
	overflow: auto;
}
.table-wrapper-scroll-y {
	display: block;
}

div.dataTables_wrapper {

	margin: 0 auto;
}

.biginput{
	font-size: 24px !important;
	font-weight: bold !important;
}

.mediuminput{
	font-size: 21px !important;
	font-weight: bold !important;
}

#payment_schedule
{
	min-height: 300px;
}

.pointer{
	cursor: pointer !important;
}

.modal {
	background: rgba(0, 0, 0, 0.5); 
	overflow: auto !important;
}
.modal-backdrop {
	display: none;
}
    
    

